
<div class="container">
<div class="row justify-content-md-center">
    <div class="col-8">
        <table class="table table-striped">
        <thead>
        <tr>
        <th scope="col"> Name - Age</th>
        <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
            <td> 
            {{ this.name }} - {{ this.age }}
            </td>
            <td> 
            
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Edit
        </button> 
            <form action="./users/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-light" type="submit">delete</button>
            </form>
            </td>  
            </tr>
            {{/each}}
        </tbody>
        </table>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add New User
        </button>
        {{>modal}}


    </div>
</div>
</div>

